<%= form_for @endpoint, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :version, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :version, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :application_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:application_id, Application.all.collect {|a| [ a.name, a.id ] }, {:prompt => false}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :environment_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:environment_id, Environment.all.collect {|e| [ e.name, e.id ] }, {:prompt => false}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :schema_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:schema_id, Schema.all.collect {|s| [ s.name, s.id ] }, {:prompt => false}) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                endpoints_path, :class => 'btn' %>
  </div>
<% end %>
